@import "../../variables.scss";

.about-container {
  h2 {
    color: $sumaq-primary;
    margin-bottom: 1rem;
  }

  p {
    line-height: 1.6;
  }

  img {
    border: 4px solid $sumaq-secondary;
  }
}
