@import "../../variables";

.navbar-sumaq {
  background: linear-gradient(90deg, $sumaq-primary, $sumaq-secondary);

  .navbar-brand, .nav-link {
    color: white !important;
    font-weight: 500;

    &:hover {
      color: $sumaq-dark !important;
    }
  }
}
