$sumaq-primary: #d97706;
$sumaq-secondary: #fbbf24;
$sumaq-dark: #212529;
$sumaq-light: #fdfdfd;
$font-family-base: 'Poppins', sans-serif;

body {
  font-family: $font-family-base;
  background-color: $sumaq-light;
  color: #333;
}
